@model Cactus.Model.Sys.User
@using System.IO
@{
    Layout = null;
    List<Cactus.Model.Sys.Role> al = ViewData["RoleList"] as List<Cactus.Model.Sys.Role>;
}
<script>
    function validateForm() {
        var b = $("#userUpdate").validate({
            onsubmit: false,
            errorPlacement: function (error, element) {
                $(element).tipso({
                    useTitle: false,
                    speed: 400,
                    position: 'right',
                    onShow: function () {
                        //$(element).tipso('destroy');
                        //alert($(error).html())
                    },
                    onHide: function () {
                        $(element).tipso('destroy');
                        //alert($(error).html())
                    }
                });
                $(element).tipso('update', 'content', $(error).html());
                $(element).tipso('show');
                return false;
            }
        }).form();

        //.element($("[data-val=true]"));
        return b;
    }
    function successForm(data, status, xhr) {
        if (data.pass) {
            loadContent(data.url)
        } else {
            alert(data.error)
        }
    }
</script>
<form class="pure-form pure-form-stacked"
    id="userUpdate"
    data-ajax="true"
    data-ajax-confirm="确定修改"
    data-ajax-url="/Admin/Admin/UserUpdate" 
    data-ajax-loading="#load" 
    data-ajax-loading-duration="1000" 
    data-ajax-method="post" 
    data-ajax-begin="validateForm"
    data-ajax-success="successForm"
    data-ajax-type="json">
    <input name="ID" type="hidden" value="@(Model.User_Id)" >
    <fieldset>
        <legend>修改用户信息</legend>

        <label for="email">昵称</label>
        <input name="NickName" value="@(Model.NickName)"  type="text" placeholder="请输入昵称" data-val="true" data-rule-required="true"  data-msg-required="昵称不能为空" data-rule-stringLength="20" data-msg-stringLength="昵称长度为20">

        <label for="password">手机号</label>
        <input name="Phone" value="@(Model.Phone)"  type="text" placeholder="请输入手机号" data-val="true"  data-rule-required="true"  data-msg-required="手机号不能为空" data-rule-stringLength="11" data-msg-stringLength="昵称长度为11">
        
        <label for="password">QQ</label>
        <input name="Qq" value="@(Model.Qq)"  type="text" placeholder="请输入QQ" data-val="true"  data-rule-required="true"  data-msg-required="QQ不能为空" data-rule-stringLength="20" data-msg-stringLength="昵称长度为20">
        
        <label for="password">邮箱</label>
        <input name="Email" value="@(Model.Email)"  type="text" placeholder="请输入邮箱" data-val="true"  data-rule-required="true"  data-msg-required="邮箱不能为空">

         <label>角色</label>
         <select name="RoleId">
            @foreach(var i in al){
                
                <option value="@(i.Role_Id)" @(i.Role_Id==Model.RoleId?"selected=\"selected\"":"") >@(i.RoleName)</option>
            }
            
         </select> 

        <button type="submit" class="pure-button pure-button-primary">修改</button>
    </fieldset>
</form>
